body{
	background-color: lightgray;
}

p {
	font-family:	'Helvetica', 'Arial', sans-serif;

}

#topImg {
	zoom:2;
	display: block;
	margin: auto;
	height: auto;
	max-height: 100%;
	width: :auto;
	max-width: 100%;
}

#Title {
	color: black;
	font-weight: bold;
	text-align: center;
}